html {
    font-family: 'Open Sans', sans-serif;
    background-color: #555;
}

a {
    color: black;
    text-decoration: none;
}

#header {
    display: flex;
    justify-content: space-between;
}

#options {
    width: 30%;
}

#options-icon {
    float: right;
}

#options-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #888;
    right: 0;
    overflow-x: hidden; 
    transition: 0.5s;
    white-space: nowrap;
}

#options-content {
    font-size: 20px; 
    margin-left: 10px;
}

#options-header {
    display: flex;
    justify-content: space-between;    
}

#close-options-menu {
    align-self: center;
    height: 25px;
    margin-right: 20px;
}

#close-options-menu:hover {
    cursor: pointer;
}

#options-heading {
    margin-left: 5px;
}

#close-changelog {
    margin-left: 50px;
    width: 25px;
}

#close-changelog:hover {
    cursor: pointer;
}

#wishlist {
    width: 30%;
}

#product-container {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 85vh;
    max-width: 96vw;
    max-height: 85vh;
    margin: 0 auto;
 
}

.product {
    background-color: rgb(196, 195, 195);
    text-align: center;
    width: 400px;
    height: 310px;
    border: 2px solid #ccc;
    margin: 5px;
    border-radius: 5px;
    border-radius: .75rem;
    position: relative;
    box-shadow: 7px 7px 4px -1px rgba(0,0,0,0.69);
    -webkit-box-shadow: 7px 7px 4px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 7px 7px 4px -1px rgba(0,0,0,0.69);
}

.product .product-image {
    height: 200px;
    width: 133px;
}

.product-name {
    font-weight: bold;
}

.box {
    position: relative;
}

.box:hover .product-image {
    height: 220px;
    width: 146.3px;
}

#changelog {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: none;
    overflow: hidden;
}

#changelog > * {
    background-color: #fefefe;
    margin: 0 auto 0 auto;
    width: 90%;
    min-width: 400px;
    padding: 10px;
}

#changelog-header {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    background-color: #fefefe;
}

#changelog-content {
    height: 70%;
}

#search {
    width: 40%;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    background-color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    min-height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#search-input {
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    background-color: white;
    padding-top: 2px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    min-height: 40px;
    border: none;
    margin-left: 2%;
}

#search:focus-within {
    border: 2px solid #555;
}

#search-seperator {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}

#sort-select {
    height: 100%;
    position: relative;
    display: inline-flex;
    width: 20%;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    text-align-last:center;
    min-width: 90px;
    font-size: 16px;
}

#sort-select:focus, #sort-select:target {
    border:0px;
    outline:0px;
}

#search-form {
    width: 80%;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}

#home {
    width: 30%;
}

.wishlist-button {
    width: 25px;
    text-align: right;
    margin: 0;
    padding: 15px;
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    font-size: 42px;
    z-index: 1;
}

.wishlist-button:hover {
    color: #555;
    font-size: 46px;
    width: 30px;
    right: 2%;
    top: 2%;
    cursor: pointer;
}

.wishlist-button:active {
    text-shadow: 0.5px 1px 2px black;
}

#wishlist-notification {
    height: 7.5%;
    width: 0;
    position: fixed;
    z-index: 3;
    bottom: 2vw;
    background-color: green;
    right: 0vw;
    overflow-x: hidden; 
    transition: 0.3s;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}

#wishlist-notification p {
    align-self: center;
    vertical-align: middle;
}

#wishlist-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    overflow: hidden;
}

#wishlist-menu > * {
    background-color: #fefefe;
    margin: 0 auto 0 auto;
    width: 30%;
    min-width: 400px;
}

#delete-confirmation {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    overflow: hidden;
}

#delete-confirmation > * {
    background-color: #fefefe;
    margin: 0 auto 0 auto;
    width: 30%;
    min-width: 400px;
}

@media only screen and (max-width: 768px) {
    #wishlist-menu > *{
        width: 80%;
        min-width: 80%;
    }

    #changelog > *, #delete-confirmation > *  {
        width: 90%;
        min-width: 90%;
    }

    #search {
        width: 95%;
    }

  }

#wishlist-menu-header, #delete-confirmation-header {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    background-color: #c0b9b9;
}

#wishlist-menu-content, #delete-confirmation-content {
    padding: 10px 0;
}

#wishlist-menu-footer, #delete-confirmation-footer {
    padding-bottom: 10px;
}

#wishlist-menu-title, #delete-confirmation-title {
    margin: 10px;
    align-self: center;
}

#close-wishlist-menu, .wishlist-minimise, #close-delete-confirmation {
    align-self: center;
    margin: 10px;
}

#close-wishlist-menu:hover, #close-delete-confirmation:hover {
    cursor: pointer;
}

#new-wishlist-form {
    display: none;
    padding-bottom: 10px;
}

#new-wishlist-input {
    margin-left: 8px;
    font-size: 20px;
}

#new-wishlist-submit {
    margin: 0;
    cursor: pointer;
    width: 22px;
    margin-left: 3px;
}

.wishlist-container {
    padding-bottom: 25px;
    border-bottom: #ccc 2px solid;
}

.wishlist-header {
    display: flex;
    justify-content: left;
}

.wishlist-products {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 96vw;
    margin: 0 auto;
}

.wishlist-header-button {
    align-self: center;
    margin-left: 2%;
}

.wishlist-header-button:hover {
    cursor: pointer;
}

.wishlist-menu-footer-button, .delete-confirmation-footer-button {
    background-color: #9c9a9a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.wishlist-menu-footer-button:hover, .delete-confirmation-footer-button:hover {
    cursor: pointer;
    box-shadow: 5px 3px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#delete-wishlist {
    background-color: #d32e2e;
}

#delete-confirmation-content {
    text-align: center;
}