html {
    font-family: 'Open Sans', sans-serif;
    background-color: #555;
}

a {
    color: black;
    text-decoration: none;
}

#header {
    display: flex;
    justify-content: space-between;
}

#options {
    width: 30%;
}

#options-icon {
    float: right;
}

#options-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #888;
    right: 0;
    overflow-x: hidden; 
    transition: 0.5s;
    white-space: nowrap;
}

#options-content {
    font-size: 20px; 
    margin-left: 10px;
}

#options-header {
    display: flex;
    justify-content: space-between;    
}

#close-options-menu {
    font-size: 36px;
    line-height: 77px;
    text-align: center;
    margin-right: 20px;
}

#options-heading {
    margin-left: 5px;
}

#close-changelog {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#wishlist {
    width: 30%;
}

#product-container {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 85vh;
    max-width: 96vw;
    max-height: 85vh;
    margin: 0 auto;
 
}

.product {
    background-color: rgb(196, 195, 195);
    text-align: center;
    width: 400px;
    height: 310px;
    border: 2px solid #ccc;
    margin: 5px;
    border-radius: 5px;
    border-radius: .75rem;
    position: relative;
    box-shadow: 7px 7px 4px -1px rgba(0,0,0,0.69);
    -webkit-box-shadow: 7px 7px 4px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 7px 7px 4px -1px rgba(0,0,0,0.69);
}

.product img {
    height: 200px;
    width: 133px;
}

.product-name {
    font-weight: bold;
}

.box {
    position: relative;
}

.box:hover img {
    height: 220px;
    width: 146.3px;
}

#changelog {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: none;
    overflow: hidden;
}

#changelog-content {
    background-color: #fefefe;
    margin: 4% auto;
    padding: 30px;
    margin-right: 3.8%;
    border: 1px solid #888;
    width: 90%;
    height: 77.5%;
}

#close-changelog {
    position: absolute;
    top: 8%;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
}

#search {
    width: 40%;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    background-color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    min-height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#search-input {
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    background-color: white;
    padding-top: 2px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    min-height: 40px;
    border: none;
    margin-left: 2%;
}

#search:focus-within {
    border: 2px solid #555;
}

#search-seperator {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}

#sort-select {
    height: 100%;
    position: relative;
    display: inline-flex;
    width: 20%;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    text-align-last:center;
    min-width: 90px;
    font-size: 16px;
}

#sort-select:focus, #sort-select:target {
    border:0px;
    outline:0px;
}

#search-form {
    width: 80%;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}

#home {
    width: 30%;
}

.wishlist-button {
    width: 5%;
    text-align: right;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    right: 2.5%;
    font-size: 42px;
    z-index: 1;
}

.wishlist-button:hover {
    color: #555;
    font-size: 46px;
    cursor: pointer;
}

.wishlist-button:active {
    text-shadow: 0.5px 1px 2px black;
}

#wishlist-notification {
    height: 7.5%;
    width: 0;
    position: fixed;
    z-index: 3;
    bottom: 2vw;
    background-color: green;
    right: 2vw;
    overflow-x: hidden; 
    transition: 0.3s;
    white-space: nowrap;
    text-align: center;
    
}

#wishlist-notification p {
    vertical-align: middle;
}