<!DOCTYPE html>
<html lang="en">
    <!-- TODO: Consider adding export/import wishlist option -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YGO Price Check</title>
    <link rel="stylesheet" href="static/style.css">
    <script defer="true" type="module" src="static/wishlist.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="header">
      <div id="home">
        <a href="/">
          <img src="static/home.png" width="50px" />
        </a>
      </div>
      
      <div id="options">
        <a id="open-options-menu" href="#">
          <img id="options-icon" src="static/cog.svg">
        </a>

        <div id="options-menu">
          <div id="options-header">
            <h2 id="options-heading">
              Selected Vendors:
            </h2>
            <img id="close-options-menu" src="static/x.svg">
          </div>
          <div id="options-content">
            <form id="vendor-form" >
            </form>
          </div>

        </div>
      </div>
    </div>
    
    <br>
    
    <div id="wishlist-content">
    </div>

    <div id="changelog">
      <div id="changelog-content">
        <a id="close-changelog" href="javascript:void(0)">&times;</a>
        <h1 id="changelog-title"> Changelog </h1>
      </div>
    </div>

  </body>
</html>